/* The ul the stories are in. */
.stories {
	display: flex;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/* div container for stories list. */
.stories-container {
	padding: 10px;
	padding-bottom: 0px;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.story-item {
	padding: 0;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	min-width: 80px;
}

.story-image {
	border-radius: 50%;
	vertical-align: middle;
	margin-bottom: 5px;
	border: 3px solid #3498db;
}

.story-name {
	display: block;
	text-transform: capitalize;
}